<h1>Logeate</h1>
<hr>

<form action="">
    <input type="email" name="email" placeholder="email" id="email">
    <input type="password" name="password" placeholder="password" id="password">

    <input type="submit" value="ingresar" id="btnSubmit">

</form>

{{>menu}}

<script src="/js/login.js"></script>