<h1>Registrate</h1>
<hr>
<form action="">
    <div id="notes"></div>
    <input type="text" name="firs_name" id="first_name" placeholder="PRIMER NOMBRE">
    <input type="text" name="last_name" id="last_name" placeholder="APELLIDO">
    <input type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
    <input type="password" name="password" id="password" placeholder="CONTRASEÑA">
    <input type="age" name="age" id="age" placeholder="EDAD">
    <input type="submit" id="btnSubmit" value="registrate">

</form>

{{>menu}}

<script src="/js/register.js"></script>