<h1>Registrate</h1>
<hr>
<form action="">
    <div id="notes"></div>
    <input type="text" name="name" id="name" placeholder="NOMBRE">
    <input type="email" name="email" id="email" placeholder="CORREO ELECTRONICO">
    <input type="password" name="password" id="password" placeholder="CONTRASEÑA">
    <input type="submit" id="btnSubmit" value="registrate">

</form>

{{>menu}}

<script src="/js/register.js"></script>