<ul>
    <li>  
        <a href="/register"> registro</a> 
    </li>
    <li>  
        <a href="/login"> log in</a> 
    </li>
    <li>  
        <a href="/products"> products</a> 
    </li>
    <li>  
        <a href="/api/sessions/logout">log out</a> 
    </li>
</ul>